<!DOCTYPE html>
<html>
<head>
  <title>Todo App - JSON View</title>
  <%- include('common_head.ejs') %>
</head>
<body>
  <div class="todo-container">
    <h2>JSON Data</h2>
    <pre id="json-container"><%= tasks %></pre> 
  </div>
</body>
</html>
