
<!DOCTYPE html>
<head>
    <title>Todo App</title>
    <%- include('common_head.ejs') %>
</head>
<body>
<div class="todo-container">
<h2>Search By Date</h2>
<div class="todo">

<form action="/date" method="POST" class="todo-header">
    
</form>

</div>
</div>
</body>